@font-face {
  font-family: "quicksand";
  src: url("../fonts/Quicksand-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "open-sans";
  src: url(../fonts/OpenSansCondensed-Light.ttf);
}

@font-face {
  font-family: "simonetta";
  src: url(../fonts/Simonetta-Regular.ttf);
}

h1 {
  font-family: "quicksand";
}

h2 {
  font-family: "open-sans";
}
